<% myChunks = ["/katieishibashi/5702056",
              "/laptite/5702716",
              "/stevenabrooks/5702760",
              "/mschmaus201/5702823",
              "/picodegallo/5702830",
              "/surrealdetective/5702955",
              "/micahrcorn/5703066",
              "/sgrshah/a4ead87cdd5eae4d14cb",
              "/jeneisen/ea6175f23340ed9ff2db",
              "/kirinm1/5703173",
              "/SamanthaRadocchia/5703194",
              "/deatheragetr/5703240",
              "/mendelk/5703284",
              "/dfriedm/5703312",
              "/chhhris/5703347",
              "/JGTR/ef1e81cc1e8deaf5f67c",
              "/lightn1ng/311261a563baf3e8e972",
              "/desmondrawls/5703430",
              "/gglin/5703455",
              "/awaxman11/5703494",
              "/jmlcampbell/e58881364b28e302acdf",
              "/joegiralt/5703519",
              "/rodriguezd/5702208",
              "/joshuaccollins/f6b790b4dfff08f70da3",
              "/chrisgonzgonz/5703547",
              "/anishavasandani/5703695",
              "/maxjacobson/5703632",
              "/sarahduve/5703716",
              "/ruthienachmany/5705193",
              "/dmanaster/b70f3a2f3eddc23ad33d",
              "/Jaltman429/5701846"] %>
<% myGists = [] %>
<% myChunks.each do |chunk| %>
  <% myGists.push(StuGist.new(chunk)) %>
<% end %>
<% myAnalyzer = Analyzer.new(myGists) %>
<h1>Alien Sandwich</h1>
<h2>Analysis<h2>
<h3>Average Word Count</h3>
<p>Average number of unique words in each individual set of instructions</p>
<%= myAnalyzer.get_avg_wrawcount %>
<h3>Average Noun Count</h3>
<p>Average number of unique nouns or noun phrases in each individual set of instructions</p>
<%= myAnalyzer.get_avg_wordcount %>
<h3>Average Nouns per Word</h3>
<%= myAnalyzer.word_pwraw %>
<h3>Top Words</h3>
<p>Word that appeared the most in each individual set of instructions</p>
<%= myAnalyzer.get_top_wordlist %>
<h3>Popular Words</h3>
<p>Words that appeared 3 or more times in each individual set of instructions</p>
<%= myAnalyzer.get_pop_wordlist %>
<h2><%= myChunks.length %> responses</h2>
<ul>
<% myGists.each do |gist| %>
	<li id="<%= gist.git_handle %>">
		<h3><a href="<%= gist.URL %>"><%= gist.git_handle %></a></h3>
    <p><%= gist.content %></p>
    <p><strong>Steps:</strong><%= gist.content.length %></p>
    <p><strong>Raw Word Count:</strong><%= gist.wraw_count %></p>
    <p><strong>Noun Count:</strong><%= gist.word_count %></p>
    <p><strong>Counts:</strong>
      <ul>
        <% gist.word_list.each do |word| %>
          <li>
            <%= word[0] %>: <%= word[1] %>
          </li>
        <% end %>
      </ul>
    </p>
    <br/>
	</li>
<% end %>
</ul>
